# Common packages for both AC2100 variants

# OpenSSH replaces Dropbear
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-sftp-server=y

# WireGuard
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-proto-wireguard=y

# TTYD web terminal
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y

# UPnP
CONFIG_PACKAGE_luci-app-upnp=y

# Aurora LuCI theme
CONFIG_PACKAGE_luci-theme-aurora=y
